<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Лабораторна робота 1</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <body>
    <div class="container text-center mt-5">
      <h1>Лабораторна робота 1</h1>
      <div class="mt-4">
        <a href="/calculator1" class="btn btn-primary btn-lg violet-btn"
          >Калькулятор 1</a
        >
      </div>
      <div class="mt-4">
        <a
          href="/calculator2"
          class="btn btn-outline-primary btn-lg violet-btn-out"
          >Калькулятор 2</a
        >
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
